@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(".woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(".woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  background-color: #FFF;
}

/* .visually-hidden {
  visibility: hidden;
} */

/* ---header--- */
.page-navigation {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000;
}

.navigation-list, .user-navigation {
  list-style: none;
}

.page-navigation a {
  color: inherit;
  text-decoration: none;
}

.user-navigation .special-btn {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #756157;
}

.special-btn a {
  color: inherit;
}

/* ---main-index--- */
.main-header {
  text-align: center;
  background-color: #82B3D3;
  background-image: url(../images/index-main-header-figure.svg), url(../images/index-main-header-background.jpg);
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.advantages, .adv-service {
  text-align: center;
}

.slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.adv-list, .adv-service-list {
  font-size: 18px;
  line-height: 21px;
  list-style: none;
}

.adv-list h3, .adv-service-list h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}

.adv-type-1 h3, .adv-type-1 p {
  color: #FFF;
}
.adv-type-1 {
  background-color: #82B3D3;
}

.adv-type-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.adv-type-3 {
  background-color: rgba(131, 179, 211, 0.12);
}

.adv-service-home {
  background-color: rgba(131, 179, 211, 0.12);
}


.adv-service-present {
  background-color: rgba(131, 179, 211, 0.12);
}

.booking {
  text-align: center;
}

.booking h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.btn-catalog {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
}

.subscribe {
  text-align: center;
}

.subscribe h2 {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-submit-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #82B3D3;
}

/* subscribe extra-style */
.extra-subscribe {
  color: #FFF;
  background-color: #82B3D3;
  background-image: url(../images/index-subscribe-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.extra-subscribe h2 {
  color: #FFF;
}

/* ---footer---  */
.page-footer {
  color: #000;
  text-align: center;
}

.social-list {
  list-style: none;
}


.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

/* ---catalog--- */
.catalog-main-header {
  font-size: 18px;
  line-height: 23px;
  color: #FFF;
  background-color: #82B3D3;
  background-image: url(../images/catalog-main-header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.catalog-main-header h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #FFF;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  list-style: none;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.catalog-filter-group-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-group-setting {
  list-style: none;
}

.price-control {
  color: #000;
  text-align: right;
  /* в макете цвет текста прописна как #000, но он серый, а не чёрный - как??? */
}

.catalog-filter-submit-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #82B3D3;
}

.catalog-filter-reset-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  background-color: transparent;
}
/* ---catalog main--- */
.catalog-setting-data h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.view-list {
  list-style: none;
}

.btn-view {
  background-color: transparent;
  border: 2px solid #E5E5E5;
}

.btn-view-active {
  border: 2px solid #000;
}
/* ---catalog items--- */
.catalog-list {
  font-size: 18px;
  line-height: 21px;
  list-style: none;
}

.catalog-list h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000;
}

.hotel-info {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.more-info-about {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  background-color: #756157;
}

.favorite-list-adder {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  background-color: #82B3D3;
}

.favorite-list-adder.active {
  background-color: #7DB54F;
}

.star-container {
  width: 140px;
  height: 37px;
}

.stars-2 {
  background-image: url(../images/catalog-hotel-2stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.stars-3 {
  background-image: url(../images/catalog-hotel-3stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.stars-4 {
  background-image: url(../images/catalog-hotel-4stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.catalog-list-item-raiting {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
}

/* ---pagination--- */
.pagination {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFF;
  list-style: none;
}
.pagination-item {
  text-align: center;
  background-color: #82B3D3;
}

.pagination-item-current {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-link {
  color: inherit;
  text-decoration: none;
}

.pagination-separator {
  color: #000;
  background-color: transparent;
}
