@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0 auto;
  height: 100%;
}

.page-container {
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* чтобы спрятать скрытые элементы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* основные кнопки и их состояния */
.sub-btn,
.designer-btn,
.control,
.btn-view,
.select-control {
  cursor: pointer;
}

.main-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  background-color: #756157;
  padding: 8px 0;
  border-radius: 4px;
}

.sub-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
}

.main-btn:hover,
.main-btn:focus {
  background-color: #615048;
}

.main-btn:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.sub-btn:hover,
.sub-btn:focus {
  background-color: #68A2CA;
}

.sub-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.sub-btn:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
  cursor: not-allowed;
}

.active-btn:hover,
.active-btn:focus {
  background-color: #6C9E42;
}

.active-btn:active {
  background-color: #7DB54F;
}

.active-btn:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
  cursor: not-allowed;
}

.designer-btn:hover {
  opacity: 0.6;
}

.designer-btn:focus {
  outline: 3px solid #83B3D3;
  color: #FFFFFF;
}

.designer-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.designer-btn:disabled {
  opacity: 0.1;
  cursor: not-allowed;
}

/* ---header--- */
.page-header {
  display: flex;
  position: relative;
  padding: 0 70px;
  min-height: 64px;
}

.logo {
  position: absolute;
  top: 0;
  left: 70px;
  display: block;
}

.logo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.page-navigation {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  display: flex;
  width: 892px;
  justify-content: space-between;
  margin-left: 168px;
}

/* Основная навигация */
.navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 539px;
}

.navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
  position: relative;
}

.current-nav-link::after,
.navigation-link:hover::after,
.navigation-link:focus::after {
  content: "";
  display: block;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  background-color: #615048;
  height: 2px;
  transform: translateY(50%);
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}



/* Дополнительная навигация */
.user-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
}

.user-navigation-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.icon-item {
  width: 44px;
}

.user-navigation a {
  color: inherit;
  text-decoration: none;
}

.nav-btn-icon {
  box-sizing: border-box;
  line-height: 20px;
  min-width: 44px;
  min-height: 64px;
  padding: 22px 12px;
}

.btn-search {
  background-image: url(../images/icon-search.svg);
  background-position: top 22px left 11px;
  background-repeat: no-repeat;
}

.btn-favorite {
  background-image: url(../images/icon-favorit.svg);
  background-position: top 22px left 11px;
  background-repeat: no-repeat;
  position: relative;
}

.nav-btn-icon:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.nav-btn-icon:focus,
.nav-btn-icon:active {
  outline: 2px solid rgba(0, 0, 0, 0.3);
}

.favorite-list-counter {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  min-width: 10px;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  top: 11px;
  right: 4px;
}

.special-nav-btn {
  align-self: center;
  color: #FFFFFF;
}

li + .special-nav-btn {
  margin-left: 19px;
}

.btn-modal-nav {
  max-width: 250px;
  color: inherit;
  padding-left: 34px;
  padding-right: 35px;
}


/* ---main-index--- */
.main-flex {
  flex-grow: 1;
}

.main-header {
  text-align: center;
  background-color: #3F5E72;
  background-image: url(../images/index-main-header-figure.svg), url(../images/index-main-header-background.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 51px 371px 77px;
}

.welcome-pic {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.advantages {
  text-align: center;
}

/* Текстовые блоки преимуществ */
.slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.lead-adv-text-container {
  padding: 0 200px;
  margin: 69px 0 90px;
}

.lead-adv-text-container p {
  margin: 0 auto;
}

.lead-adv-text-container .slogan {
  margin-bottom: 25px;
}

.adv-service-text-container {
  padding: 0 341px;
  margin: 64px 0;
}

.adv-service-text-container p {
  margin: 0 auto;
}

.adv-service-text-container .slogan {
  margin-bottom: 20px;
}

/* списки преимуществ */
.adv-list {
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* основной список преимущест */
.lead-adv-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-auto-rows: auto;
}

.adv-item:not(.adv-with-pic),
.adv-with-pic-text-container {
  box-sizing: border-box;
  padding: 100px 84px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adv-item h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.adv-dark-bg h3::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.adv-with-pic {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}

.adv-pic {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  grid-column: span 2;
  align-self: center;
}

.adv-pic-reverse {
  order: -1;
}

.adv-list h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
}

.adv-list p {
  margin: 0 auto;
}

.adv-dark-bg h3,
.adv-dark-bg p {
  color: #FFFFFF;
}

.adv-dark-bg {
  background-color: #82B3D3;
}

.adv-medium-bg {
  background-color: rgba(131, 179, 211, 0.2);
}

.adv-light-bg {
  background-color: rgba(131, 179, 211, 0.12);
}

/* список преимуществ сервиса */
.adv-service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.adv-service-item {
  box-sizing: border-box;
  padding: 78px 85px;
  min-height: 385px;
}

.adv-service-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.adv-service-item h3 {
  margin: 0 auto 29px;
}

.adv-service-item h3::before {
  content: "";
  display: block;
  width: 76px;
  height: 77px;
  margin: 0 auto 29px;
  background-image: url(../images/adv-service-icon.svg);
}

.adv-service-home h3::before {
  background-position: -133px -17px;
}

.adv-service-food h3::before {
  background-position: -257px -16px;
}

.adv-service-present h3::before {
  background-position: -13px -19px;
}

/* Промо-секция для поиска гостиниц */
.booking {
  text-align: center;
  padding: 96px 200px;
  margin: 0 auto;
}

.booking h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 20px;
}

.booking p {
  margin: 0 auto 54px;
}

.btn-catalog {
  font-size: 20px;
  line-height: 36px;
  display: inline-block;
  padding: 8px 50px;
  margin: 0 auto;
}

/* Подписка */
.subscribe {
  text-align: center;
  padding: 96px 200px 104px;
}

.subscribe h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.subscribe p {
  width: 475px;
  margin: 0 auto 55px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  width: 412px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-form-input::placeholder {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-submit-btn {
  font-size: 20px;
  line-height: 36px;
  max-width: 350px;
  border-radius: 0 4px 4px 0;
}

/* subscribe extra-style for index-page*/
.extra-subscribe {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url(../images/index-subscribe-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.extra-subscribe h2 {
  color: #FFFFFF;
}

/* ---footer---  */
.page-footer {
  color: #000000;
  text-align: center;
  display: flex;
  padding: 45px 70px 35px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}

.social-list-item {
  display: flex;
}

.btn-social {
  color: #83B3D3;
  width: 27px;
  padding: 11px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 550px;
  margin: 0 auto;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.about-developer {
  width: 115px;
  padding-top: 3px;
}

.about-developer-contacts {
  color: #000000;
}

/* состояния кнопок футера */

.btn-social:hover,
.btn-social:focus {
  color: #68A2CA;
}

.btn-social:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.about-developer-contacts:hover,
.about-developer-contacts:focus {
  color: #756157;
}

.about-developer-contacts:active {
  color: rgba(117, 97, 87, 0.3);
}

/* ---catalog--- */
/* main-header */
.main-catalog-header {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url(../images/catalog-main-header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 35px 70px 70px;
  margin-bottom: 49px;
}

.main-catalog-header h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #FFFFFF;
  margin: 0 0 8px;
}

/* хлебные крошки */
.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-index {
  display: block;
  width: 13px;
  background-image: url(../images/index-bc-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs-item:not(:first-child)::before {
  content: "";
  display: block;
  background-image: url(../images/breadcrumbs-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 8px;
  height: 100%;
  margin: 0 10px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

/* состояния для хлебных крошек */

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  opacity: 1;
}

.breadcrumbs-link[aria-current="page"]:hover,
.breadcrumbs-link[aria-current="page"]:focus {
  opacity: 1;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

/* фильтры */
.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0 71px 3px 0;
}

.catalog-filter-group:last-child {
  margin-right: 0;
}

.catalog-filter-group-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-group-setting {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-group-item {
  max-width: 145px;
}

.catalog-filter-group-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-type {
  margin-right: auto;
}

/* чекбоксы и радио*/
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.control-mark-radio {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: 3px solid transparent;
  background-color: #FFFFFF;
}

.control:hover {
  opacity: 0.6;
}

.control-input:focus ~ .control-mark,
.control-input:focus ~ .control-mark-radio {
  outline: 3px solid #83B3D3;
}

.control:active {
  opacity: 0.3;
}

.control-input:disabled ~ .control-mark,
.control-input:disabled ~ .control-mark-radio,
.control-input:disabled ~ .control-label {
  opacity: 0.2;
  cursor: not-allowed;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url(../images/checkbox-tick.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="radio"]:checked + .control-mark-radio::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
}

/* форма ранжирования цен */
.catalog-filter-group-price {
  width: 288px;
}

.price-control-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 48px;
  column-gap: 2px;
  align-items: center;
  margin-bottom: 44px;
}

.price-control-min {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
}

.input-price-min {
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 4px 0 0 4px;
}

.price-control-max {
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 1;
}

.input-price-max {
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 0 4px 4px 0;
}

.control-input-price::-webkit-outer-spin-button,
.control-input-price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.control-input-price {
  -moz-appearance: textfield;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  box-sizing: border-box;
  background-color: #F2F2F2;
  width: 143px;
  padding: 13px 40px 11px 20px;
  border: none;
}

.control-input-price:hover {
  background-color: #E6E6E6;
}

.control-input-price:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.control-input-price:active {
  background-color: #E6E6E6;
  outline: 2px solid #83B3D3;
}

.price-control {
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  padding-right: 20px;
  justify-self: end;
  cursor: text;
}

.price-control-scale {
  position: relative;
  height: 4px;
  width: 287px;
  background-color: rgba(255, 255, 255, 0.3);
}

.price-control-bar {
  position: absolute;
  top: 0;
  height: 4px;
  background-color: #FFFFFF;
}

.price-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.price-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
}

.price-toggle:focus {
  outline: 3px solid #83B3D3;
}

.price-toggle:active {
  outline: 2px solid #83B3D3;
}

.price-toggle-min {
  left: 0;
}

.price-toggle-max {
  right: 0;
  transform: translate(100%, -50%);
}

/* кнопки фильтров */
.catalog-filter-group-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
  margin-bottom: 0;
}

.catalog-filter-submit-btn {
  max-width: 200px;
}

.catalog-filter-reset-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  max-width: 200px;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
}

/* ---catalog main--- */
.catalog-container {
  margin: 0 70px 60px;
}

.catalog-setting-data {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-setting-data h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  max-width: 500px;
  margin: 0;
  margin-right: auto;
}

.select-control {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-right: 70px;
  width: 292px;
  padding: 13px 35px 11px 18px;
  background-color: transparent;
  background-image: url(../images/select-arrow.svg);
  background-position: right 18px top 19px;
  background-repeat: no-repeat;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.select-control:hover,
.select-control:focus {
  border-color: #68A2CA;
}

.select-control:active,
.select-control:disabled {
  border-color: #000000;
  opacity: 0.3;
}

.select-control:disabled {
  cursor: not-allowed;
}

.view-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 160px;
}

.btn-view {
  background-color: transparent;
  background-image: url(../images/view-icon.svg);
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.table-view {
  background-position: -4px -4px;
}

.slide-view {
  background-position: -62px -4px;
}

.list-view {
  background-position: -120px -4px;
}

.btn-view-active {
  border-color: #000000;
}

.btn-view:hover {
  border-color: #000000;
}

.btn-view:focus {
  border-color: #68A2CA;
}

.btn-view:active {
  border-color: #000000;
}


/* карточки отелей */
.catalog-list {
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  padding: 0 0 40px;
  margin: 0 0 38px;
  border-bottom: 1px solid #E6E6E6;
  display: flex;
  flex-wrap: wrap;
  gap: 18px 20px;
}

.catalog-list-item {
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  width: 340px;
  padding: 20px 19px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
}

.hotel-pic {
  order: -1;
  grid-column: 1/-1;
}

.hotel-pic img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;

}

.catalog-list h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;
  grid-column: 1/-1;
}

.hotel-info {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.hotel-info:hover {
  color: #756157;
}

.hotel-info:focus {
  color: #756157;
}

.hotel-info:active {
  color: rgba(117, 97, 87, 0.3);
}

.catalog-list-item-about {
  width: 140px;
  margin: 0;
}

.item-price {
  text-align: end;
}

.more-info-about {
  padding: 8px 26px;
}

.favorite-list-adder {
  padding: 8px 20px;
}

.active-btn {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.catalog-list-item-stars {
  height: 17px;
  align-self: center;
  background-size: contain;
  background-repeat: space;
  background-position: center;
}

.stars-2 {
  background-image: url(../images/star.svg);
  width: 42px;
}

.stars-3 {
  background-image: url(../images/star.svg);
  width: 66px;
}

.stars-4 {
  background-image: url(../images/star.svg);
  width: 89px;
}

.catalog-list-item-raiting {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
  margin: 0;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

/* ---pagination--- */
.pagination {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-item {
  box-sizing: border-box;
  text-align: center;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  display: block;
  border-radius: 4px;
  padding: 11px 15px;
  min-width: 58px;
}

.pagination-item-current {
  color: #000000;
  background-color: #F2F2F2;
  cursor: default;
  border: none;
}

.pagination-separator {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: default;
}

.pagination-link:not(.pagination-link-current):hover,
.pagination-link:not(.pagination-link-current):focus {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-link-current):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

/* модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}

.modal-active {
  display: flex;
  z-index: 1;
}

.modal {
  position: relative;
  width: 577px;
  margin: auto;
  padding: 64px 70px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

/* кнопка "закрыть" */
.modal-close-btn {
  position: absolute;
  top: 64px;
  right: 52px;
  padding: 0;
  border: none;
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #F2F2F2;
  color: #000000;
  cursor: pointer;
}

.modal-close-btn-icon {
  position: absolute;
  top: 19px;
  left: 19px;
}

.modal-close-btn:hover {
  background-color: #E6E6E6;
}

.modal-close-btn:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-btn:active,
.modal-close-btn:disabled {
  background-color: #E6E6E6;
  color: rgba(0, 0, 0, 0.3);
}

.modal-close-btn:disabled {
  cursor: not-allowed;
}


/* основная часть модального окна*/
.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 543px;
  margin: 0;
  margin-bottom: 64px;
  color: #000000;
}

.modal-booking-form {
  display: grid;
  grid-template-columns: 247px 1fr;
  column-gap: 50px;
}

.modal-booking-form-container {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 137px 1fr;
  grid-template-rows: repeat(2, minmax(48px, auto));
  align-items: center;
}

.modal-booking-form-lot-container {
  display: grid;
  grid-template-columns: 1fr 110px;
  grid-template-rows: repeat(2, minmax(48px, auto));
  column-gap: 46px;
  align-items: center;
}

.modal-booking-form-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}


.modal-booking-form-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 13px 40px 11px 20px;
  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.modal-booking-form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-booking-form-input:hover {
  background-color: #E6E6E6;
}

.modal-booking-form-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-booking-form-input:active {
  background-color: #E6E6E6;
  outline: 2px solid #83B3D3;
}

.modal-booking-form-input:disabled {
  background-color: #E6E6E6;
  color: rgba(0, 0, 0, 0.6);
  cursor: not-allowed;
}

.modal-booking-form-date {
  background-image: url(../images/modal-date.svg);
  background-position: right 20px center;
  background-repeat: no-repeat;
}

.form-notification {
  grid-column: 1/-1;
  align-self: start;
  font-size: 16px;
  line-height: 21px;
  padding-left: 157px;
  margin: 0;
  padding-top: 4px;
}

.form-notificaton-alert {
  color: #FF5757;
}

.modal-booking-form-lot::-webkit-outer-spin-button,
.modal-booking-form-lot::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.modal-booking-form-lot-wrapper {
  position: relative;
}

.modal-booking-form-lot {
  -moz-appearance: textfield;
  width: 30px;
  padding: 13px 40px 11px;
  text-align: center;
}

.modal-booking-form-counter {
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  color: rgba(117, 97, 87, 0.3);
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal-booking-form-minus {
  left: 0;
}

.modal-booking-form-plus {
  right: 0;
}

.modal-booking-form-icon {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.modal-booking-form-counter:hover {
  color: #000000;
}

.modal-booking-form-counter:focus {
  outline: 3px solid #82B3D3;
}

.modal-booking-form-counter:active {
  color: rgba(0, 0, 0, 0.2);
}

.modal-booking-form-counter:disabled {
  color: rgba(0, 0, 0, 0.2);
  background-color: #E6E6E6;
  cursor: not-allowed;
}

.modal-booking-btn {
  font-size: 20px;
  line-height: 24px;
  padding: 18px 77px;
  border-radius: 10px;
  grid-column: 1/-1;
}

/* тултип */
.modal-booking-form-label-children {
  position: relative;
  justify-self: end;
  margin-right: 37px;
}

.tooltip {
  position: absolute;
  top: 50%;
  right: -36px;
  z-index: 1;
  transform: translateY(-50%);
}

.tooltip-toggle {
  border: none;
  background-color: #83B3D3;
  background-image: url(../images/tooltip-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  top: 41px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #333333;
  width: 216px;
  padding: 20px 18px 23px 22px;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  display: none;
}

.tooltip-text::before {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  left: 118px;
  width: 19px;
  height: 9px;
  background-image: url(../images/tooltip-triangle.svg);
  background-repeat: no-repeat;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
